
#Welcome{
    color: rgba(34, 33, 30, 0.774);
    position: absolute;
    font-family: Courier, monospace;
    font-size: 80px;
    font-weight: lighter;
    font-stretch: ultra-expanded;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 20%;
    margin: 0px;
 
}



html { 
    background: url("homepageimage.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  


r {width: 500px;margin-left: auto;margin-right: auto; margin-top: 0mm;
}


.Container1{
    position: absolute;
    top: 50ex;
    padding:0 0 0 0ex; 
    background-color: white;
    overflow: hidden;  
    
}

*{
    margin: 0;
}

 video{
    width: 500px;
    height: 400px;
 }


.navbar {
    overflow: hidden;
    background-color: rgba(48, 46, 42, 0.774);
  }
  
  .navbar a {
    margin-top: 20px;
    float: right;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding: 20px 22px;
    text-decoration: none;
    font-family: "Times New Roman", Courier, monospace;
    text-transform: uppercase;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top: 20px; 
  }
  
  .dropdown .dropbtn {
    font-size: 20px; 
    margin-top: 20px; 
    padding-top: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 22px;
    background-color: inherit;
    font-family: "Times New Roman", Courier, monospace;
    margin: 0;
    text-transform: uppercase;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(66, 64, 64, 0.452);
    transition: 0.5s;
    padding:20px 25px;
    

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(66, 64, 64, 0.452);;
    min-width: 0px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:140px;
  }
  
  .dropdown-content a {
    font-size: 10px; 
    float: none;
    color:white;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0ex;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }